.contactscreen {
  width: 100%;
  min-height: 100%;
  overflow-y: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(32, 32, 42, 0.9);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 25px;
}
.contact__header {
  width: 100%;
  margin-bottom: 20px;
  color: #f4f4f4;
}
.contact__heading {
  margin-bottom: 5px;
}
.form__box {
  background-color: #2c2c38;
  width: 80%;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: -50px;
  animation: formBounce 0.5s linear 1;
}
.form__box > form > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 32, 42, 0.9);
}
.form__box > form > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40px;
}
.form__box > form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.form__input {
  width: 90%;
  padding: 5px;
  font-size: 16px;
  outline: none;
  background-color: rgba(32, 32, 42, 0.9);
  color: white;
  border: 1px solid #24242e;
}
.contact__btn {
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c38;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  transition: 0.5s;
  outline: none;
}
.contact__btn:hover {
  background-color: white;
  color: #2c2c38;
  border: 2px solid #2c2c38;
}
@keyframes formBounce {
  20% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(5px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 960px) {
  .form__box {
    width: 95%;
  }
  .form__input {
    width: 100%;
  }
  .contact__header {
    margin-bottom: 10px;
  }
  .contact__screen {
    padding: 20px 2px;
  }
}
@media (max-width: 630px) {
  .contactscreen {
    height: 100%;
    background-size: cover;
    background-position: fixed;
    overflow-y: hidden;
  }
  .form__box {
    width: 98%;
    padding: 5px;
  }
  .form__input {
    width: 100%;
  }
  .contact__header {
    margin-bottom: 10px;
  }
  .contact__screen {
    padding: 20px 2px;
  }
  .contact__btn {
    margin-top: 3px;
    width: 93px;
    height: 32px;
    border-radius: 14px;
    font-size: 13px;
    font-weight: bold;
    outline: none;
    background-color: white;
    color: #2c2c38;
    border: 2px solid #2c2c38;
  }
}
