.education {
  flex: 1 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  padding: 0px 10px;
}
.education__header {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 25px;
}
.education__body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 0px 10px;
}
.education__date {
  flex: 1;
}
.education__details {
  flex: 4;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.education__degree {
  font-weight: 600;
  margin-bottom: 10px;
  color: #e6c534;
}
