.aboutscreen {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(32, 32, 42, 0.9);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills {
  flex: 1 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  padding: 25px 10px;
}
.skills__header {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 25px;
}
.skill__name {
  flex: 1;
}
.skillbar {
  flex: 3;
}

.education {
  flex: 1 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
