.projectscreen {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(32, 32, 42, 0.9);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 25px;
}
.projects__header {
  width: 100%;
  margin-bottom: 30px;
  color: #f4f4f4;
}
.projects__heading {
  margin-bottom: 5px;
}
.projects__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
