.navbar {
  background-color: #24242f;
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-shadow: 0 2px 0px 1px rgb(29, 29, 38);
  position: sticky;
  top: 0px;
}
.toggle {
  width: 40px;
  height: 40px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.toggle__bar {
  width: 100%;
  height: 3px;
  background-color: #f4f4f4;
  border-radius: 1px;
}
.navbar__profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}
.navbar__image {
  width: 52px;
  height: 52px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 5px;
}
.navbar__info {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.info__name {
  margin-top: 5px;
  color: white;
}
.info__role {
  font-size: 12px;
  color: gray;
}
@media (max-width: 960px) {
  .show__navbar {
    display: flex;
  }
}
@media (max-width: 630px) {
  .navbar {
    display: flex !important;
  }
}
